<p id="notice"><%= notice %></p>

<p>
  <b>Index:</b>
  <%= @letter.index %>
</p>

<p>
  <b>Adress:</b>
  <%= @letter.adress %>
</p>

<p>
  <b>Bukl:</b>
  <%= @letter.bukl %>
</p>


<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>
