<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      
      <% if signed_in? %>
      <li><%= link_to t(:users), users_path %></li>
      <li><%= link_to t(:profile), current_user %></li>
      <li><%= link_to t(:settings), edit_user_path(current_user) %></li>
      <% end %>
      <li><%= link_to t(:help), help_path %></li>
      <% if signed_in? %>
      <li><%= link_to t(:signout), signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to t(:signin), signin_path %></li>
      <% end %>
    </ul>
    <ul>
    	<li><%= link_to t(:home), letters_path %></li>
    </ul>
  </nav>
</header>